@import url('https://fonts.googleapis.com/css?family=Acme:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*--------------------------------------------Colors*/


/* ----------------------------------------Special paddings/margins/text */



/*--------------------------------------------Header and Homepage */

header {
    margin: 0;
}

.parallax {
    background-image: url("../images/MarjoleinvanLeeuwen.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
/* ----------------------------------------Footer */



/* ----------------------------------------About */



/* ----------------------------------------Work */




/* ----------------------------------------Skills */



/* ----------------------------------------Contact */


/* ----------------------------------------Media Queries */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}