
body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    line-height: 1.8 em;
    color: #383636;
}

.imgMarjolein, .imgWork, .imgSkills, .imgContact {
    position: relative;
    opacity: 0.80;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
}
.imgMarjolein {
    background-image: url('../images/img1.jpg');
    min-height: 100%;   
}

.imgWork {
    background-image: url('../images/coffee.jpg');
    min-height: 500px;
}

.imgSkills {
    background-image: url('../images/img9.jpg');
    min-height: 500px;
}

.imgContact {
    background-image: url('../images/img4c.jpg');
    min-height: 100%;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: white;
    color: #383636;
}

.section-dark {
    background-color: #383636 ;
    color: white;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-left: 30px;
    text-align: left;
    color: black;
    font-size: 40px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.btn {
    position: absolute;
    top: 60%;
    width: 25%%;
    margin-left: 30px;
    text-align: left;
    padding: 10px 25px;
    font-size: 12px;
    font-weight: 400;
    transition: all 0.5s;
    letter-spacing: 2px;
    color: #fff;
    box-shadow: none;
    text-transform: uppercase;
    outline: none !important;
    background: #f47a65;
    background: -webkit-linear-gradient(to bottom left, #ff4f64, #f47a65);
    background: linear-gradient(to bottom left, #f47a65, #ff4f64);
    box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
    min-width: 140px;
}

/* ----------------------------------------Media Queries */

@media (max-width: 568px) {
    .imgMarjolein, .imgWork, .imgSkills, .imgContact {
        background-attachment: scroll;
    }
}