@import url('https://fonts.googleapis.com/css?family=Acme:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*--------------------------------------------Colors*/



/*--------------------------------------------Home and Navbar */

header {
    margin: 0;
}

.parallax {
    background-image: url("../images/MarjoleinvanLeeuwen.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img {
  background-image: url("../assets/images/MarjoleinvanLeeuwen.jpg");
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* ----------------------------------------About */



/* ----------------------------------------Work */




/* ----------------------------------------Skills */



/* ----------------------------------------Contact */




/* ----------------------------------------Footer */



/* ----------------------------------------Media Queries */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}